/* Charity: water Brand Colors

Primary Colors:
- Yellow:     #FFC907
- Blue:       #2E9DF7

Secondary Colors:
- Light Blue: #8BD1CB
- Green:      #4FCB53
- Orange:     #FF902A
- Red:        #F5402C
- Dark Green: #159A48
- Pink:       #F16061

*/

body{
    font-family: Comic Sans MS, cursive, sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 48px;
  z-index: 9999;

  transition: opacity 3s ease;
}

#intro.fade {
  opacity: 0;
  pointer-events: none;
}

#intro h1 {
  opacity: 0;
  animation: titleFade 2s forwards;
}

@keyframes titleFade {
  from { opacity: 0; }
  to { opacity: 1; }
}

.room {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#room{ 
  position: relative; 
  width: 800px; 
  margin: auto; 
} 

.hotspot{ 
  position:absolute; 
  cursor:pointer; 
}

button{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

#inventoryBtn {
    position: fixed;
    top: 15px;
    right: 15px;
    border: none;
    cursor: pointer;
    background-color: #D4AF37;
    font-family: Comic Sans MS, cursive, sans-serif;
}

#inventory {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background: rgb(99, 60, 2);
  color: white;
  padding: 10px;
  font-family: Comic Sans MS, cursive, sans-serif;
}

#pillow {
  position: absolute;
  top: 56%;
  left: 23%;
  width: 9.8%;
  height: 13%;
  cursor: default;
  border-color: transparent;
  background-color: transparent;
}

#painting {
  position: absolute;
  top: 17.5%;
  left: 68.2%;
  width: 9.2%;
  height: 21%;
  cursor: default;
  border-color: transparent;
  background-color: transparent;
}

.hidden {
  display: none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 3px solid black;
  padding: 20px;
  color: black;
  z-index: 1000;
}

