/* Charity: water Brand Colors

Primary Colors:
- Yellow:     #FFC907
- Blue:       #2E9DF7

Secondary Colors:
- Light Blue: #8BD1CB
- Green:      #4FCB53
- Orange:     #FF902A
- Red:        #F5402C
- Dark Green: #159A48
- Pink:       #F16061

*/

body{
    font-family: Comic Sans MS, cursive, sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Use the .room image as the full-page background */
.room {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#room{ 
  position: relative; 
  width: 800px; 
  margin: auto; 
} 

.hotspot{ 
  position:absolute; 
  cursor:pointer; 
}

button{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

#inventoryBtn {
    position: fixed;
    top: 15px;
    right: 15px;
    border: none;
    cursor: pointer;
    background-color: #D4AF37;
    font-family: Comic Sans MS, cursive, sans-serif;
}

#inventory {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background: rgb(99, 60, 2);
  color: white;
  padding: 10px;
  font-family: Comic Sans MS, cursive, sans-serif;
}

#pillow {
  position: absolute;
  top: 56%;
  left: 23%;
  width: 9.8%;
  height: 13%;
  border-color: transparent;
  background-color: transparent;
}

#painting {
  position: absolute;
  top: 17.5%;
  left: 68.2%;
  width: 9.2%;
  height: 21%;
  border-color: transparent;
  background-color: transparent;
}

.hidden {
  display: none;
}

#code {
  position: absolute;
  top: 40%;
  left: 45%;
  background: white;
  padding: 10px;
  border: 2px solid black;
  animation: fall 0.6s ease-out;
}

@keyframes fall {
  from { transform: translateY(-50px); }
  to { transform: translateY(0); }
}